<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="hotcss" content="initial-dpr=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="x5-page-mode" content="no-title">
    <meta name="format-detection" content="telephone=no">
    <meta name="applicable-device" content="mobile">
    <link rel="canonical" href="<%= canonical %>">
    <meta name="Copyright" content="东方体育©版权所有">
    <link rel="shortcut icon" href="<%= DIRS.BUILD_FILE.images.favicon %>">
    <link rel="bookmark" href="<%= DIRS.BUILD_FILE.images.favicon %>" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="<%= DIRS.BUILD_FILE.images.favicon %>">
    <link rel="dns-prefetch" href="<%= HOME_URL %>">
    <title><%= pageTitle %></title>
    <meta name="keywords" content="<%= pageKeywords %>"/>
    <meta name="description" content="<%= pageDescription %>"/>
    <script src="<%= DIRS.BUILD_FILE.js.hotcss %>"></script>
    <link rel="stylesheet" href="<%= DIRS.BUILD_FILE.dll.css %>">
    <%= scriptHtml %>
    <%= statisticsHtml %>
</head>
<body id="indexNew">
