<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="hotcss" content="initial-dpr=1">
    <meta name="x5-page-mode" content="no-title">
    <meta name="format-detection" content="telephone=no">
    <title><%= pageTitle %></title>
    <meta name="keywords" content="<%= pageKeywords %>"/>
    <meta name="description" content="<%= pageDescription %>"/>
    <script src="<%= DIRS.BUILD_FILE.js.hotcss %>"></script>
    <link rel="stylesheet" href="<%= DIRS.BUILD_FILE.dll.css %>">
    <%= scriptHtml %>
    <%= statisticsHtml %>
</head>
<body id="indexNew">